.container {
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cell {
    width: 50px;
    height: 50px;
    background-color: gray;
    border: 1px solid black;
}
.row {
    display: flex;
    width: 160px;
    height: 52px;
}

.cross {
    position: relative;
}
.cross::before,
.cross::after {
    content: "";
    position: absolute;
    width: 4px;
    height: 40px;
    background-color: red;
    left: 50%;
    top: 50%;
    transform-origin: center;
}

.cross::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.cross::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.circle {
    position: relative;
}

.circle::before {
    content: "";
    position: absolute;
    width: 35px;
    height: 35px;
    border: 4px solid blue;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.winner {
    padding-top: 30px;
    width: 100px;
    display: flex;
    justify-content: space-between;
}
.button {
    margin-top: 30px;
}
