.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
    width: 100%;
}
.pt {
    padding-top: 150px;
}
.txt-ct {
    text-align: center;
}

@media (max-width: 1024px) {
    .container {
        max-width: 970px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 750px;
        padding: 0 1.5rem;
    }
}

@media (max-width: 480px) {
    .container {
        max-width: none;
        padding: 0 1rem;
    }
}
