.container {
    h3,
    p {
        text-align: start;
    }
}

.null-base-style {
    li {
        list-style: none;
    }
}

.header {
    display: flex;
    width: 200px;
    height: 20px;
    align-items: center;

    & .icon {
        img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }
    }
    & .title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-size: 10px;
        padding-left: 10px;
        h3 {
            color: white;
            height: 15px;
        }
    }
    padding-bottom: 10px;
}

.list-item {
    margin-bottom: 20px;
}
.text {
    max-width: 400px;
}
