.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
    line-height: normal;
}

.wrapper > main {
    flex: 1 1 auto;
}

.wrapper > * {
    min-width: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    width: 100%;
}

@media (max-width: 1024px) {
    .container {
        max-width: 970px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 750px;
    }
}

@media (max-width: 480px) {
    .container {
        max-width: none;
        padding: 0 0.75rem;
    }
}
