.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    padding: 0.5rem 0;
    transition: all 0.3s ease;
    display: inline-block;
}

.nav-link:hover {
    color: #ff990078;
}

.active {
    color: #ff9800;
    border-bottom: 2px solid #ff9800;
}
