.container {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    background: #0f172a;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
}

.grid {
    width: 700px;
    margin: 0 auto;
    padding: 30px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
}
