.wrapper {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    gap: 1rem;
}
