.container {
    width: 500px;
    height: 300px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img {
    width: 200px;
    height: 250px;
}

.button {
    position: absolute;
    left: 0;
}

.button-right {
    right: 0;
    left: auto;
}
.text {
    font-size: 20px;
    position: absolute;
    bottom: 0;
}

.green-border {
    border: 1px solid green;
}
.red-border {
    border: 1px solid red;
}

.input-block {
    display: flex;
    flex-direction: column;
    text-align: center;
}
