.manager {
    max-width: 880px;
    margin: 20px auto;
    padding: 12px;
    border-radius: 12px;
    border: 1px solid white;
    box-shadow: 0 2px 8px rgba(20, 20, 40, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.fullWidth {
    width: 100%;
}
