.form {
    display: flex;
    gap: 12px;
    align-items: center;
    padding: 8px;
    box-sizing: border-box;
}

.label {
    flex: 1;
    display: block;
}

.input {
    width: 100%;
    padding: 10px 14px;
    border: 1px solid #d7e7fb;
    border-radius: 8px;
    background: #fff;
    font-size: 14px;
    box-sizing: border-box;
    color: black;
}

.sendBtn {
    padding: 8px 14px;
    background: #2b7cff;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.sendBtn:hover {
    background: #1e63d6;
}
